<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username
  </sql>
  <select id="selectByIds" resultMap="BaseResultMap" parameterType="arraylist">
      select
      <include refid="Base_Column_List" />
      from t_user
      <where>
          <if test="array != null">
              and id in
              <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                  #{item}
              </foreach>
          </if>
      </where>

  </select>
</mapper>
